@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    --main-yellow: #FFFE89;
}

body {
    background: var(--main-yellow);
}

div:nth-child(1) {
    font-family: 'Oooh Baby', cursive;
    background: black;
    color: var(--main-yellow);
    text-align: center;
    font-size: 2.2rem;
    padding: 20px;
}

div:nth-child(2) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div:nth-child(3) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item {
    background: none;
    padding: 10px;
    text-align: center;
    min-width: 300px;
    border: none;
    border-bottom: 2px solid black;
}

#item::placeholder {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

#btnItem {
    font-family: 'Oooh Baby', cursive;
    margin-top: 20px;
    border: none;
    min-width: 150px;
    padding: 10px;
    color: var(--main-yellow);
    font-weight: bold;
    font-size: 1.2rem;
    background: black;
    cursor: pointer;
}

#btnItem:hover {
    opacity: 0.6;
    transform: scale(1.02);
}

#groceryList {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}

#groceryList li {
    padding: 10px;
}

.delete {
    border: 1px solid red;
    border-radius: 15px;
    background: none;
    color: rgb(255, 105, 105);
    padding: 5px;
    cursor: pointer;
}

.delete:hover{
    opacity: 0.6;
}